ion-content {
  --color: #fff;
  --background: none;
  background: url(/../../assets/images/background8.jpg) no-repeat 0 0;
  background-size: cover;
}



.logoImg {
  height: 65%;
  margin: auto;
  display: block;
}

