ion-content {
  --color: black;
  background-color: white;
  --background: white;
  // --background: dark;
  // background-color: dark;
  margin: 0;
  padding: 0;
    scroll-behavior: smooth;

}
html {
  scroll-behavior: smooth;
}

main {
  margin-top: 0rem;
  // padding: 1rem;
  text-align: center;
  left: 0;
  right: 0;
}

.header {
  position: relative;
  text-align: center;
  // background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  background-image: linear-gradient(to right top, #593153, #512c4c, #4a2745, #42233e, #3b1e37);
  color: white;

  width: 104%;
  transform: translateX(-2%) translateY(-16%);
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;

  padding-top: 25vh;
  padding-top: 25dvh;

}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  height: 15dvh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  height: 20dvh;
  text-align: center;
  background-color: white;
}

/* Animation */

// .parallax>use {
//   animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
// }

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}



.featureItem {
  max-width: 303px;
  margin: 14px;
  margin-bottom: 33px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  svg {
    max-width: 88px;
  }

  h2 {
    font-weight: 800;
    color: var(--ion-color-primary);
    font-size: inherit;
  }

  ion-label {
    text-align: start;
    margin-top: 14px;
        margin-left: 8%;
  }
}
.fa-secondary {
 color: var(--ion-color-primary);
}



@media only screen and (max-width: 600px) { 
.featureItem {
  max-width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
}


// .video-container {
 
//   position: relative;
//   overflow: hidden;
//   width: 100%;
//   max-width: 720px;
//   /* Adjusted to 720px */
//   height: 405px;
//   /* 16:9 ratio of 720px */
//   margin: 0 auto;
//   /* centers the container horizontally */
// }

// .video-container iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 28px;
// }

// /* Default styles for mobile */
// .video-container {
//       margin-top: 5vw;
//   height: 56.25vw;
//   /* This maintains the 16:9 ratio */
// }

// @media (min-width: 769px) {
//   .video-container {
//     height: 405px;
//     /* Fixed height for larger screens based on 16:9 ratio of 720px width */
//   }
// }

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
  max-width: 720px;
  /* max width for larger screens */
  margin: 0 auto;
  margin-top: 5vw;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 28px;
  }
}

@media (min-width: 769px) {
  .video-container {
    height: 405px;
    /* fixed height for desktop */
    padding-bottom: 0;
    /* remove the padding on desktop to use the fixed height */
  }
}

@media only screen and (max-width: 600px) {
  .video-container {
    margin-top: 44px;
  }
}


@media only screen and (max-width: 600px) {
  // .video-container {
  //   // margin-left:10px;
  //   // margin-right: 10px;

  //   margin-top: 44px;
  // }

  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
    height: 30dvh;
  }

  h1 {
    font-size: 24px;
  }

  ion-toolbar {
    --background: var(--ion-color-primary) !important;
  }

  ion-header {
    transition: all 0.5s ease 0s;

    .header-container {
      margin-left: 0 !important;
      background: var(--ion-color-primary) !important;
      padding-top: 3rem;
      transition: all 0.5s ease 0s;
    }
  }

  .hideNavBarFlag {
    margin-top: 0rem;
    transition: all 0.5s ease 0s;

    .header-container {
      padding-top: 0rem !important;
      transition: all 0.5s ease 0s;
    }
  }

  main {
    margin-top: 27rem;
    margin-left: 0rem;
  }
}



@media only screen and (min-width: 600px) {}

.footer-responsive {
  // background-color: #f8f9fa;
  padding: 20px;
}

h2 {
  font-weight: bold;
}



.footer-copyright {
  text-align: center;
  font-size: 14px;

  // padding-top: 10px;
}

.left-align {
  li {
        text-align: start;
  }
}

.newsletter-btn {
  background-color: #ff5a5f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-input {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.newsletter-btn {
  background-color: #ff5a5f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.newsletter-btn:hover {
  background-color: #ff3b3f;
}


/* Hide the element when the screen width is below 995px */
@media screen and (max-width: 995px) {
  .hide-less-than-995 {
    display: none;
  }
}


.quick-links {
 transform: translateX(44%);

  h2 {
       text-align: start;

  }
   p {
    color: white;
    transform: translateX(10px);
    margin-top: 4px;
    margin-bottom: 4px;
   text-align: start;
 
   }

   p:hover {
     color: var(--ion-color-secondary);
     cursor: pointer;
     /* changes the color to pink on hover */
   }
}

  ion-item.newsletter-container {
    --inner-border-width: 0px 0px 2px 0px;
    --border-color: var(--ion-color-secondary) !important; // to override primary class style
    --highlight-height: 0px;
    --placeholder-opacity: 1;
    --placeholder-font-weight: 700;
    --background-hover-opacity: 0;

    ion-label {
      --color: var(--ion-color-secondary) !important;
      color: var(--ion-color-secondary);
      font-size: 16px;
      font-weight: 700 !important;
    }

    ion-input {
      --color: var(--ion-color-secondary) !important;
      color: var(--ion-color-secondary);
      --placeholder-color: var(--ion-color-secondary);
      --placeholder-opacity: 1;
      --placeholder-font-weight: 700;
      font-size: 18px;
      --background: transparent !important;
      opacity: 1;
      font-weight: 500 !important;
      fill-opacity: 1;
    }
  }



  ion-toggle {

        --handle-spacing: 3px;
            --handle-width: 25px;
    padding: 12px;



    contain: none;
  }

  ion-toggle::part(track),
  ion-toggle.toggle-checked::part(track) {
    // height: 10px;
    // width: 65px;

    background: var(--ion-color-secondary-shade);

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
  }

  ion-toggle::part(handle) {
    // background: #eb7769;

    // border-radius: 4px;
    // box-shadow: none;
  }

  ion-toggle.toggle-checked::part(track) {
    background: var(--ion-color-secondary);
  }

  .styled-image {
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }

