<div id="circle-container"
     [style.--height]="height"
     [style.--width]="width"
     [style.--color1]="color1"
     [style.--color2]="color2"
     [style.--color3]="color3"
     [style.--color4]="color4"
     [style.--color5]="color5"
     
     >
  <div id="cc">
    <div class="circle"
         id="five"></div>
    <div class="circle"
         id="four"></div>
    <div class="circle"
         id="three"></div>
    <div class="circle"
         id="two"></div>
    <div class="circle"
         id="one"></div>
  </div>
</div>
