<ion-content>
  <ion-grid>
    <!---- Full Page Holder Row *Used to center ALL PAGE CONTENT vertically + horizontally ----------------------------------------------------->
    <ion-row class="full-view-height">
      <ion-col class="ion-align-self-center ion-justify-content-center"
               size-sm="6"
               offset-sm="3"
               size-lg="5"
               offset-lg="3.5">

        <!-- Card Container* ------------------------------------------------------------------------------------------------------------->
        <ion-card class="cardBackground shadowStyle">
          <ion-card-content>

            <!-- Logo Image Holder -------------------------->
         <ion-card-title>
           <!-- <ion-img class="logoImg  animated flipInX"
                    src='assets/logos/logo.png'></ion-img> -->
         </ion-card-title>
                     <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom">
                        <h2 class="ion-text-center">
                          Loading...
                        </h2>

                     </ion-row>

            <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom">
              <ion-spinner class="ion-text-center" name="bubbles"></ion-spinner>

            </ion-row>

            <ion-grid>



            </ion-grid>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>