ion-content {
  --color: #fff;
  --background: none;
  background: url(/../../assets/images/background8.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: center center;
}

.cardBackground {
  --background: whitesmoke;
  border-radius: 25px;
}