<ion-content scrollbarStyle>
  <main #scrollArea>
    <ion-header class="ion-no-border">
      <div class="header-container max-width-1080">
        <ion-toolbar>
          <ion-title class="page-title text-align-center"
                     color="primary">
            Admin Dashboard
          </ion-title>
          <ion-buttons slot="primary">

          </ion-buttons>
        </ion-toolbar>
      </div>
    </ion-header>





    <div style="height: 55px;"></div>

    <ion-row class="ion-justify-content-center">
   

    </ion-row>
    <ion-col size="5"
             class="ion-no-padding ion-justify-content-end">




    </ion-col>





  </main>

</ion-content>
